/* mains */
.head{
    border: blue solid 3px;
}

body{
    border: 3px solid black;
    margin: auto;
}

.sholders{
    border: solid green 3px;
}

.knees{
    border: solid teal 3px;
}

.toes{
    border: solid pink 3px;
}

/* divs */
div.socialLoc{
    border: red solid 3px;
    float: right;
}


/* images */
img#logo{
    width: 80px;
    height: 80px;
}

img#socials{
    height: 35px;
    width: 35px;
}

